data/ind.*
__pycache__
data/*.*.*
data/*shuffle*
data/*vector*
data/corpus/*labels*
data/corpus/*shuffle*
.ipynb_checkpoints
data/corpus/*vocab*
nohup.out
checkpoints/*
checkpoint/*
,/*


work_env/
work_env

*DS_Store*